<section id="body_content">
  <section id="body">
    <div class="inner">
      <p class="lead">
        <%= image_tag("logo.png") %>
        Welcome to the ENTIS website!
      </p>
    </div>
    <hr />
    <div class="last-news-item">
      <% latest_news = Refinery::News::Item.latest(1) -%>
      <%= render '/refinery/news/items/item', item: latest_news.first if latest_news.any? %>
    </div>
  </section>
  <hr />
  <div class="row-fluid">
    <%= raw @page.content_for(:side_body) %>
  </div>
</section>
