<div class="row">
  <div class="span4">
    <p class="muted"><%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %></p>
    <%= yield :footer %>
  </div>
  <div class="span4 offset4">
    <%= link_to "#backtotop_anchor", class: "btn anchor" do %>
      <i class="icon-chevron-up"></i>
      <%= t('.back-to-top') %>
    <% end -%>
  </div>
</div>
