body
  padding-top: 40px
.navbar-fixed-top
  border-bottom: 5px solid #22A7F2
#body, #side_body
  box-sizing: border-box
#body, #side_body, #body_content
  border-right: 1px solid #eee
#body, #side_body, #body_content, #side_menu
  margin-top: 0
  padding-top: .5em
#body, #side_body
  padding-right: 20px
