body
  padding-top: 50px
  +background(#E0E0E0 image-url("stripes2.png"))

.container-fluid[role="main"]
  padding-bottom: 50px

.bottombar
  position: fixed
  bottom: 0
  left: 0
  right: 0
  font-size: 90%
  background: whitesmoke
  border-top: 5px solid #D6A641
  padding: 0.5em
  p
    margin-bottom: 0
  ul
    +delimited-list(" |")
  .custom-footer

.navbar-fixed-top
  border-bottom: 5px solid #466AC3

.nav li
  a i
    opacity: 0.6
  &.active, a:hover
    i
      opacity: 1

#main, #secondary, #body_content, .search, .secondary-nav, .recent-news
  +border-radius(6px)
  border: 1px solid rgba(0, 0, 0, 0.2)
  background: #ddd
  padding: 1em

#main, #secondary, #body_content, #side_menu
  text-shadow: 0px 1px 0 white
  margin-top: 15px
  margin-bottom: 15px
  .muted
    color: #777
    text-shadow: none

#main, #body_content
  margin-left: 15px
#body_content
  min-height: 600px
#body_content_title
  margin-top: 0
#side_menu
  margin-right: 15px
  &.affix
    top: 50px
    width: auto

.search, .secondary-nav
  margin-bottom: 20px

.search
  form
    margin-bottom: 0

.recent-news
  h4
    margin-top: 0
  .news-container
    background: #031542
    text-shadow: none
  .news
    color: white
  .date, a
    padding: 0.5em
  a
    display: block
    text-decoration: none
    color: white
  .date
    font-size: 80%
    background-color: #466AC3


#secondary
  font-size: 95%

.blue
  color: dodgerBlue
.red
  color: red
ul.text-info
  color: #3A87AD
a.thumbnail
  text-align: center
  margin-bottom: 0.5em

.dl-horizontal.dl-large
  dt
    width: 180px
    &:after
      content: " :"
  dd
    margin-left: 190px
    p
      margin-bottom: 0

.navbar-logo
  margin-top: 5px
  padding: 0 10px
  max-width: none
  width: 25px

.comma-list
  +delimited-list

hr
  margin: 10px 0

#publications
  margin-top: 10px
.publication
  font-size: 90%
